#usernameError,
#pswrdNotSameError,
#nameError,
#pswdLogInError {
  float: right;
  color: white;
}

.logo {
  width: 14%;
  position: fixed;
  bottom: 0;
  left: 39px;
}

.description {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 25px;
  font-weight: bold;
}

.row1 {
  display: flex;
  justify-content: space-around;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 80%; */
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 6px;
}

th {
  color: #bd4902;
  font-weight: bold;
  font-size: 18px;
}

tr {
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #980201;
  ;
}

tr:nth-child(odd) {
  color: #980201;
}

#property1,
#property2,
.list-message {
  /* width: 300px !important; */
  display: none;
}

.contact {
  color: #980201;
  font-weight: bold;
}

.hello {
  /* margin-left: 54px; */
  font: bold 24px Helvetica, Arial, Sans-Serif;
}

.helloUser {
  color: #980201;
}

#loggedOut {
  font-size: 15px;
  color: #bd4902;
}

.post {
  box-shadow: 0px 0px 12px 0px black;
  padding: 10px;
  background-color: #ffecd1a8;
  margin: 5px;
  display: inline-table;
}

#post {
  padding: 0;
  border-radius: 50%;
  border: 0;
  background: none;
  margin: auto;
}

.disable-join {
  text-decoration: line-through;
  text-decoration-color: red;
  pointer-events: none;
  cursor: default;
}

.posts {
  margin-top: 80px;
}

.container-fluid {
  padding-right: 40px;
}

.row {
  margin-left: 35px;
  margin-top: 55px;
}

.input-group-text {
  color: black;
  background: #bd4902e6;
}

.post-search-background {
  background: url('background-run.jpg') no-repeat fixed;
  background-size: cover;
}

.fa-map-marker,
.fa-hourglass-start {
  width: 46px;
}

.fa-sign-in {
  font-size: 22px;
}

.distance-icon,
.man-run-icon {
  width: 18.5px;
}

#flipSearchForm,
#flipPostForm {
  padding-bottom: 15px;
  cursor: pointer;
  color: #bd4902;
  font: bold 42px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px #48362f, 2px 2px #48362f, 3px 3px #48362f;
  -webkit-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
}

#flipMessage {
  -webkit-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
  padding-bottom: 15px;
  cursor: pointer;
  /* color: #bd4902; */
  color: #980201;
  font-weight: bold;
  /* text-align: center; */
}

#flipSearchForm:hover,
#flipPostForm:hover {
  position: relative;
  cursor: pointer;
  top: -3px;
  left: -3px;
  /* text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902, 4px 4px #fe4902, 5px 5px #fe4902, 6px 6px #fe4902; */
  text-shadow: 1px 1px #48362f, 2px 2px #48362f, 3px 3px #48362f, 4px 4px #48362f, 5px 5px #48362f, 6px 6px #48362f;
}

.post-search-div,
.post-icon,
.search-icon {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.search-icon,
.post-icon {
  font-size: 45px;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.search-icon:hover,
.post-icon:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateY(360deg);
}

/*=====================================================
 snackbar after sign up
=======================================================*/

#snackbar2 {
  visibility: hidden;
  /* min-width: 250px; */
  width: 307px;
  background: #980201;
  color: #fff;
  text-align: center;
  border-radius: 23px;
  padding: 16px;
  z-index: 1;
  font-size: 17px;
  /* margin-left: 110px; */
  /* margin-top: 18px; */
  box-shadow: 0 0 11px 5px black;
}

#snackbar {
  visibility: hidden;
  /* min-width: 250px; */
  width: 307px;
  background: black;
  color: #fff;
  text-align: center;
  border-radius: 23px;
  padding: 16px;
  z-index: 1;
  font-size: 17px;
  margin-left: 110px;
  margin-top: 18px;
  box-shadow: 0 0 11px 5px black;
}

#snackbar.show,
#snackbar2.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}