*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  /* background: #c1bdba; */
  /* background: #ff70075c; */
  background:#c1bdba9c;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  /* background: rgba(19, 35, 47, 0.9); */
  /* background: rgba(4, 2, 1, 0.88); */
  background: rgb(101, 6, 5);
  /* background: rgba(165, 7, 7, 0.9); */
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); */
  box-shadow: 0 4px 18px 5px rgb(0, 0, 0);
  border-radius: 45px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  box-shadow: inset 0 0 10px 0px black;

}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  /* background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0; */
  background: rgba(246, 247, 247, 0.84);
    color: #000000;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: inset 0 0 10px 0px black;
}
.tab-group li a:hover {
  /* background: #179b77;
  color: #ffffff; */
  /* background:#980201; */
  background: #dc5e21;
  color: white;
}
.tab-group .active a {
  /* background: #1ab188; */
  /* background: #ff6b24d6; */
  background: #dc5e21;
    color: #ffffff;
    /* box-shadow: inset 0 0 10px 0px black; */
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  /* color: #1ab188; */
  color:#ff6b24d6;
}

label.active {
  transform: translateY(-24px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  /* border-radius: 0; */
  border-radius: 9px;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  /* border-color: #1ab188; */
  /* box-shadow: -1px -1px 8px #da5e22; */
  /* box-shadow: 0 0 8px #da5e22;; */
  box-shadow: 0 0 14px 2px #ffffff;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  /* float: left; */
  width: 48%;
  /* margin-right: 4%; */

  margin: auto;
  margin-bottom: 27px;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  /* border-radius: 0; */
  border-radius: 7px;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /* background: #1ab188; */
  background: #ff6b24d6;
  /* background: rgba(246, 247, 247, 0.84); */
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  box-shadow: inset 0 0 10px 0px black;

}
.button:hover, .button:focus {
  box-shadow: inset 0 0 10px 0px black;
  /* background:#980201; */
  /* background: #dc5e21; */
  background: rgba(246, 247, 247, 0.84);
  color:black;
  /* background: #179b77; */
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

